<html>
    <head>
        <title>Stylist</title>
    </head>
    <body>
        <div class="container">
        <h1>  ~ Hair Salons ~ </h1>
        <h2> Recommendations </h2>

        <form action="/" method = "post">
            <label for="name"> Hair Salon Name: </label>
            <input id="name" name="name" type="text">

            <button type="Submit"> Add </button>
        </form>

        <!-- {% if stylists is not empty %}

                <p>Here all the stylists</p>

                <ul>
                        {% for place in stylists %}
                        <li><a href="/stylist/{{ place.getId }}">{{ place.getType }}</a></li>

                        {% endfor %}


                </ul>

                {% endif %}

                <form action="/delete_stylists" method="post">
                    <button type="submit">Delete Stylists</button>
                </form>

            </div>
            </body>
        </html> -->
